h1{
    text-align: center;
    margin: 15px;
}

.search-panel{
    display: flex;
    justify-content: center;
    gap: 25px;
}

.book-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.search-bar, .category-filter{
    margin-bottom: 20px;
}

.search-bar input{
    font-size: 1.2rem;
    padding: 5px;
    outline: gray;
}

.category-filter select{
    font-size: 1.2rem;
    padding: 5px;
    background-color: lightgoldenrodyellow;
    border-radius: 4px;

}