ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
}

.header{
    background-color: salmon;
    padding: 10px;
    height: 55px;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    box-shadow: 1px 1px 8px 2px gray;    
}

li{
    list-style-type: none;
    margin: 10px;
    font-size: 1.1rem;
    color: rgb(95, 5, 5);
    font-weight: 500;
    padding: 3px;
}

li:hover{
    background-color: bisque;
    border-radius: 150px;
    scale: 1.1;
    box-shadow: 1px 1px 3px 2px pink;
}

#username-box-container{
    display: flex;
    justify-content: left;
    width: 20%;
    align-items: center;
}

#username-box{
    border-radius: 20px;
    outline: none;
    height: 40px;
    width: 70%;
    background-color: lightcoral;
    color: white;
    font-size: 1rem;
    text-align: center;    
}

#username-box::placeholder{
    text-align: center;
    font-size: 1rem;
    color: white;
}

#cartSlice{
    display: flex;
    justify-content: right;
    align-items: center;
    width: 20%;
}

#cartCount{
    font-size: 2rem;
    font-weight: bold;
    color: rgb(118, 21, 21);
    cursor: pointer;
}

.cartButtons-container{
    margin-top: 40px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items:baseline;
}

.cartButtons-container button{
    padding: 12px;
    border-radius: 9px;
    background-color: rgba(172, 255, 47, 0.386);
    font-size: 1.2rem;
    cursor: pointer;
}

.addCartButton:hover{
    background-color: green;
    color: whitesmoke;
}

.deleteCartButton:hover{
    background-color: rgba(255, 0, 0, 0.683);
    color: whitesmoke;
}

#reading-list{
    font-weight: bold;
    background-color: lightcoral;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 1px 1px 2px 1px darkblue;
    color: darkblue;
}

*{
    text-decoration: none;
}